  .welcome-class {
    margin-top: 120px;
    text-align: center;
    font-family: 'pattaya';
    font-size: 86px;
  }
  .enter-name-class {
    margin-top: 60px;
    font-family: 'pattaya';
    font-size: 65px;
  }
  .q-input {
    font-weight: 600;
    font-size: 30px;
    min-width: 400px;
    max-width: 500px;
  }
  .user-class {
    text-align: center;
    font-family: 'pattaya';
    font-size: 95px;
  }